.container {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
    font-weight: bold;
  }
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

.title {
  text-decoration: initial;
}

dl {
  font-family: 'Arvo', serif;
  text-align: center;
  padding-top: 10px; 
}

.detail-title {
  text-align: right;
}

.media {
  text-align: center;
}

a {
  color: black;
  text-decoration-color: black;
}

a:hover {
  color: black;
}

a:visited {
  color: black;
}

.btn {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

